<div class="navbar">
  <%= link_to 'Wikinimous', articles_path %>
  <%= link_to 'New article', new_article_path %>
</div>

<ul>
  <% @articles.each do |article| %>
    <li><%= article.title %></li>
  <% end %>
</ul>
